<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block título %}Meu Site{% endblock %}</title>
</head>
<body>
    <header class="flex">
        <img src="static/img/logomaior.svg" alt="Logo">
        <nav>
            <ul class="flex">
                {% block navegação %}
                    <li><a class="button" href="{{ url_for('auth.home') }}">Casa</a></li>
                    <li><a class="button" href="{{ url_for('agendamento.dashboard') }}">Agendar</a></li>
                    <li><a class="button" href="{{ url_for('auth.login') }}">Entrar</a></li>
                {% endblock %}
            </ul>
        </nav>
    </header>
    <main class="flex">
        {% block banner %}
        {% endblock %}
        {% block conteúdo %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026. Todos os direitos reservados.</p>
    </footer>
</body>
</html>